#head{
text-align: center;
background-color: #FF00FF;

}

#p{

text-align: justify;
background-color: #FF00FF;

}

#main{
background-color: #FF00FF;

}

#nav{
text-align: right;
background-color: #FF00FF;

}

#navv{
    text-align: left;
    background-color: #FF00FF;
    
    }